/*
   ANIMATION DIRECTIONS
*/

  .animation-direction-normal      { animation-direction: normal; }
  .animation-direction-reverse     { animation-direction: reverse; }
  .animation-direction-alt         { animation-direction: alternate; }
  .animation-direction-alt-reverse { animation-direction: alternate-reverse; }

@media screen and (min-width: 32em) {
  .animation-direction-normal-s      { animation-direction: normal; }
  .animation-direction-reverse-s     { animation-direction: reverse; }
  .animation-direction-alt-s         { animation-direction: alternate; }
  .animation-direction-alt-reverse-s { animation-direction: alternate-reverse; }
}

@media screen and (min-width:48em) {
  .animation-direction-normal-m      { animation-direction: normal; }
  .animation-direction-reverse-m     { animation-direction: reverse; }
  .animation-direction-alt-m         { animation-direction: alternate; }
  .animation-direction-alt-reverse-m { animation-direction: alternate-reverse; }
}

@media screen and (min-width: 96em) {
  .animation-direction-normal-l      { animation-direction: normal; }
  .animation-direction-reverse-l     { animation-direction: reverse; }
  .animation-direction-alt-l         { animation-direction: alternate; }
  .animation-direction-alt-reverse-l { animation-direction: alternate-reverse; }
}

